<%inherit file="base.html"/>

<%block name="title">
  Note ${note.id}
</%block>

<%block name="scripts">
  <script>
    function saveNote() {
      hiddenSaveForm.html.value = noteBody.innerHTML
      hiddenSaveForm.submit();
    }
    document.body.onload = function() {
      noteBody.focus();
    }
  </script>
</%block>

<h2>Note ${note.id or '(new)'}</h2>



<div class="toolbar">
  <button onclick="saveNote()" tabindex="2">
    Save
  </button>
</div>
<div id="noteBody"
     contentEditable="true"
     style=" min-height: 2em; "
     tabindex="1"
     >${note.html}</div>

<form name="hiddenSaveForm"
      style=" display: none; "
      method="POST"
      action="${url_for('note_save')}"
      >
  <input type="hidden" name="id" value="${note.id or ''}">
  <input type="hidden" name="html">
</form>

<!--
    if id is none, we should POST to /notes
    if id is a uuid, we should PUT to /notes/<id>
    either way, the response should be:
    { // i am a note
        id: <id>,
    }
    and we should update things like the title bar to reflect that...
  -->
